body {
}

input.ng-invalid.ng-touched{
    border: red 1px solid
}

.form-container{
    margin: 20px;
    max-width: 300px
}

.form{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.form-control{
    max-width: 250px;
    margin-top: 5px;
    margin-left: 5px
}

.form-control-label{
    margin-top: 8px;
    margin-right: 0px

}

.submit-form{
    margin-top: 20px;
    align-self: center
}
