<h1>Buenas!</h1>
<p>
    Esta es una aplicación integradora que utiliza:
    <ul>
        <li><strong>Frontend: </strong> Angular + HTML</li>
        <li><strong>Backend:</strong> .NET Core</li>
        <li><strong>Base de datos:</strong> SQL Server (Entity Framework Core)</li>
    </ul>


<p>Para ver las a las personas o agregar una nueva haga click en <em>Lista de Personas</em> o <em>Agregar Persona</em> respectivamente.</p>

<p>Es probable que la URL del servidor generada difiera de la utilizada durante el desarrollo de este proyecto <code>(https://localhost:7055)</code>, por lo que sería conveniente modificar la propiedad <code>baseUrl</code> ubicada en <code>ClientApp > src > environments > environment.ts</code> por la URL del servidor actual.</p>
